.container {
  margin: auto;
  max-width: fit-content;
  text-align: right;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: auto;
  gap: 20px;
}

.title {
  text-align: center;
  margin: 90px;
}

.button {
  margin-top: 30px;
}
